body {
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}


#map {
  height:100%;
  width: 100%;
}



